QMainWindow
{
    background-color: rgb(0, 85, 255);
}

QMenuBar {
    background-color: white;
}

QStatusBar {
    background-color: white;
}

QWidget#add_contact_widget {
    background-color: white;
}

QPushButton {
    background-color: rgb(0, 85, 255);
    border-style: outset;
    border-radius: 5px;
    color: white;
    padding: 4px;
    font: bold 14px;
}

QListView
{
    background-color: white;
}

QWidget#no_conversation_widget {
    background-color: white;
}

QLabel#contact_data_label {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 85, 255);
    font: 12pt "Comic Sans MS";
}

QTextEdit {
    background-color: white;
}

QTextEdit:focus {
    background-color: rgb(255, 255, 170);
}

QDialog#conversation_initiation_dialog {
    background-color: white;
}

QLabel#contact_name_label {
    color: rgb(0, 85, 255);
    font: bold 8pt;
}

QLabel#ip_address_label {
    color: rgb(0, 85, 255);
    font: bold 8pt;
}
